



.article-post {
  margin: 25px 0px;



  h5 {
    color: black;
    padding-bottom: 15px;
    border-bottom: 5px solid black;

    span {
      padding-left: 15px;
      font-size: 12px;

    }
  }
}